<section class="hero">

  <div class="container text-center text-white">

    <h1 class="display-2 fw-bold">
      Tu ayuda puede cambiar una vida
    </h1>

    <p class="lead mt-4">
      Conecta tus donaciones de ropa y alimentos con quienes más lo necesitan en Huancayo
    </p>

    <div class="mt-5">

      <!-- BOTÓN DONAR -->
      <button
        class="btn btn-light btn-lg me-3"
        routerLink="/donar">
        Donar ahora
      </button>

      <!-- BOTÓN CAMPAÑAS -->
      <button
        class="btn btn-outline-light btn-lg"
        routerLink="/campanas">
        Conocer campañas
      </button>

    </div>

  </div>

</section>