<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold text-primary" href="#">
      <i class="bi bi-heart-fill"></i>
      Ayuda Huancayo
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item"><a class="nav-link active">Inicio</a></li>
        <li class="nav-item"><a class="nav-link">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link">Problemática</a></li>
        <li class="nav-item"><a class="nav-link">Campañas</a></li>
        <li class="nav-item"><a class="nav-link">Transparencia</a></li>
        <li class="nav-item"><a class="nav-link">Testimonios</a></li>
        <li class="nav-item"><a class="nav-link">Contacto</a></li>

      </ul>

      <button class="btn btn-primary rounded-pill px-4">
        Donar Ahora
      </button>

    </div>

  </div>
</nav>