<section class="py-5">

<div class="container">

<div class="row">

<div class="col-lg-7">

<div class="card shadow-sm border-0">

<div class="card-body p-4">

<h2 class="fw-bold mb-4">
Envíanos un mensaje
</h2>

<input
class="form-control mb-3"
placeholder="Nombre completo">

<input
class="form-control mb-3"
placeholder="Correo electrónico">

<input
class="form-control mb-3"
placeholder="Teléfono">

<input
class="form-control mb-3"
placeholder="Asunto">

<textarea
rows="5"
class="form-control mb-3"
placeholder="Mensaje">
</textarea>

<button class="btn btn-success w-100">
Enviar mensaje
</button>

</div>

</div>

</div>

<div class="col-lg-5">

<div class="card border-0 shadow-sm mb-3">

<div class="card-body">

<h5>Información de contacto</h5>

<p>📍 Huancayo, Junín, Perú</p>
<p>📞 +51 999 999 999</p>
<p>✉ contacto@ayudahuancayo.org</p>

</div>

</div>

<div class="card border-0 bg-success text-white">

<div class="card-body text-center">

<h5>WhatsApp</h5>

<p>¿Necesitas ayuda inmediata?</p>

<button class="btn btn-light">
Abrir WhatsApp
</button>

</div>

</div>

</div>

</div>

</div>

</section>